<%= form_for(price_suggestion) do |f| %>
  <% if price_suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price_suggestion.errors.count, "error") %> prohibited this price_suggestion from being saved:</h2>

      <ul>
      <% price_suggestion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.text_field :product_id %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
