 <head>
  <script type="text/javascript">
      function recomendar(){
         var s1 = document.getElementById('square1');
         var s2 = document.getElementById('square2');
         var s3 = document.getElementById('square3');
         var limit = Number(<%=@combos.count%>);


         var rand = Math.floor((Math.random() * limit) + 1);
         console.log(String(rand)); 
      }
   </script>
</head>

 <p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<% if current_user.is_admin? %>
<div class ="container">
<h1>Combos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combos.each do |combo| %>
      <tr>
        <td><%= combo.title %></td>
        <td><%= combo.description %></td>
        <td><%= link_to 'Show', combo %></td>
        <% if user_signed_in? %>
          <% if current_user.is_admin? %>
            <td><%= link_to 'Edit', edit_combo_path(combo) %></td>
            <td><%= link_to 'Destroy', combo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Combo', new_combo_path %>
</div>
<% end %>
<% end %>

   <div class="container">
   <div class="jumbotron">
      <h1>Recomendaciones</h1>
      <p>Haga clic en "Recomendar" para obtener una sugerencia de almuerzo. Las sugerencias se realizan tomando en cuenta precios, valor nutricional y disponibilidad.</p>
      <p><a class="btn btn-default" href="#" style="float:right" onclick="recomendar();">Recomendar »</a></p>
   </div>
   <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 col-xl-10">
   <div class="row" style="padding-left: 1em">
      <h1 style="margin-bottom: : 20px"><b>Resultado de sugerencia</b><br/></h1>
      <hr>
   </div>
   <div class="row">
      <a class="btn btn-default" href="#" style="background-color: #e07673">Añadir a Favoritos</a>
      <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6" id="square1">
         <h2>Platillo Fuerte</h2>
         <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
            friendly HTML, CSS and Javascript.
         </p>
      </div>
      <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6" id="square2">
         <h2>Bebida</h2>
         <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
            friendly HTML, CSS and Javascript.
         </p>
      </div>
      <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6" id="square3">
         <h2>Ensalada</h2>
         <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
            friendly HTML, CSS and Javascript.
         </p>
      </div>
      <tbody>
      <% @combos.all.each do |combo| %>
    <% combo.products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
   </div>

   <div class="row"></div>
   <div id="resultado">
      <h2>Precio Total: $0</h2>
   </div>