<p id="notice"><%= notice %></p>

<h1>Combos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combos.each do |combo| %>
      <tr>
        <td><%= combo.title %></td>
        <td><%= combo.description %></td>
        <td><%= link_to 'Show', combo %></td>
        <% if user_signed_in? %>
          <% if current_user.is_admin? %>
            <td><%= link_to 'Edit', edit_combo_path(combo) %></td>
            <td><%= link_to 'Destroy', combo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Combo', new_combo_path %>
