 <head>
  <script type="text/javascript">
      function newTotal(e){
        var pTotal = document.getElementById('resultado');
        var total = pTotal.getAttribute('data-value');
        var nTotal = Number(total) + Number(e);
        pTotal.setAttribute("data-value", String(nTotal));
        pTotal.innerHTML = '<h2><b> Total: $' + nTotal + '</b></h2>';
        console.log(String(nTotal));
      }
   </script>
</head>

 <p id="notice"><%= notice %></p>

<div class="container">
<% if user_signed_in? %>
  <% if current_user.is_admin? %>
        <div class ="container">
        <h1>Combos</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @combos.each do |combo| %>
          <tr>
            <td><%= combo.title %></td>
            <td><%= combo.description %></td>
            <td><%= link_to 'Show', combo %></td>
            <% if user_signed_in? %>
              <% if current_user.is_admin? %>
                <td><%= link_to 'Edit', edit_combo_path(combo) %></td>
                <td><%= link_to 'Destroy', combo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            <% end %>  
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'New Combo', new_combo_path %>
  </div>
  <% end %>
<% end %>


<div class="jumbotron" >
      <h1>Recomendaciones</h1>
      <p>Haga clic en "Recomendar" para obtener una sugerencia de almuerzo. Las sugerencias se realizan tomando en cuenta precios, valor nutricional y disponibilidad.</p>
      <p><a class="btn btn-default" href="#" style="float:right" onclick="recomendar();">Recomendar »</a></p>
   </div>
  <section id="recomendacion" data-value="0">

   <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 col-xl-10">
   <div class="row" style="padding-left: 1em">
      <h1 style="margin-bottom: : 20px"><b>Resultado de sugerencia</b><br/></h1>
      <hr>
   </div>
         <a class="btn btn-default" href="#" style="background-color: #e07673">Añadir a Favoritos</a>
    <div class="row"></div>
   <div id="resultado" data-value="0">
      <p>Precio Total: $0</p>
   </div>

   <div class="row">
      <% @combos.find(rand(1..@combos.count)).products.all.each do |p| %>
        <div class="col-xs-6 col-lg-4 col-sm-6 col-md-6" id="square1">
          <h2><%= p.title %></h2>
          <p><%= p.description%></p>
          <p>$<%=p.price%></p>
          <script>newTotal('<%=p.price%>');</script>
      </div>
      <% end %>

   </div>
   </section>

   