<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @combo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @combo.description %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combo.products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <% if current_user.is_admin? %>
    <%= link_to 'Edit', edit_combo_path(@combo) %> |
  <% end %>
<% end %>

<%= link_to 'Back', combos_path %>
